body,
html{
    margin:0;
	padding:0;
	color:#FFFF00;
	background: black;
	}

#wrap {
	width: 750px;
	margin: 0 auto;
	background:#480000;
}
#header{
    background: #200000 ;
    text-align: center;
}

#nav{
	background: red;
	margin:0;
	padding: 0;
	

}

#main{
	background:#480000;
	float:right;
	width:500px;
}
#sidebar{
	background: red;
	float: left;
	padding-top: 50px;
	margin-top:10px;
	width:200px;
	height: 500px;
	text-align:center;
	font-weight:100px;
	text-decoration:bold;
}
#footer{
	background: red;
	clear:both;
}

@media (max-width: 480px) { 
        body {
          font-size: 20px;
        }

        .hidden-phone {
           display: block;
        }
    }
    
