body{ 
    background-color:blue; 
    background-repeat: no-repeat;

}

div{
	background-color: #EFEF5E;
	width: 500px;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 200px;
	position: relative;
	float: center;



 
}

